<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ 'Nilai a : ' + a}}</h1>
      <h1>{{ 'Nilai rata : ' + c}}</h1>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          b: 0,
          c: 0,
          amount: 0,
        },
        methods: {
          openForm: function () {
            if (this.b < 10) {
              this.a = prompt("Masukkan nilai a");
              this.a = parseInt(this.a);
              this.b += this.a;
              this.amount += 1;
              this.c = this.b / this.amount;
              this.openForm();
            }
          },
        },
      });
    </script>
  </body>
</html>
